<!--The whole content below can be removed with the new code.-->
<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
  <table class="table">
    <thead>
    <tr>
      <th (click)="setFieldName('name')">Name<span class="glyphicon glyphicon-sort" aria-hidden="true" style="margin-left : 5px"></span></th>
      <th (click)="setFieldName('city')">City<span class="glyphicon glyphicon-sort" aria-hidden="true" style="margin-left : 5px"></span></th>
      <th (click)="setFieldName('mobile')">Mobile<span class="glyphicon glyphicon-sort" aria-hidden="true" style="margin-left : 5px"></span></th>
      <th (click)="setFieldName('age')">Age<span class="glyphicon glyphicon-sort" aria-hidden="true" style="margin-left : 5px"></span></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of dataArr | sort : selectedField">
      <td>{{item.name}}</td>
      <td>{{item.city}}</td>
      <td>{{item.mobile}}</td>
      <td>{{item.age}}</td>
    </tr>
    </tbody>
  </table>
</div>

